@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Merriweather|Roboto:100,300,400,400i,500,500i,700,700i&subset=cyrillic');
/* todo: move everything from px to pt */
* {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	outline: 0;
}

body {
	font-family: 'Myriad Pro', Roboto, Arial;
	background: #fffdfd;
}

a:hover {
	color: red;
	text-decoration-color: rgba(255, 0, 0, 0.3);
	transition: 0.3s;
}

hr {
	margin: 20px 0;
}

content h1:first-child,
content h2:first-child,
content h3:first-child,
content h4:first-child,
content h5:first-child,
content h6:first-child {
	margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 25px;
	margin-bottom: 15px;
	font-weight: 400;
}

/* todo: посинхронизировать размеры с гитхабовскими */
h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.875em;
}

h6 {
	font-size: 0.85em;
}

ul, ol {
	margin: 10px 0;
	padding-left: 20px;
}

ul li, ol li {
	padding: 5px 0;
}

p {
	margin: 10px 0;
	line-height: 16pt;
}

pre {
	background: #eee;
	padding: 5px;
	border-radius: 5px;
	margin: 10px 0;
}

code {
	font-family: 'Source Code Pro', Menlo, Consolas, Monospace, monospace;
	font-size: 11pt; /* only for source code pro! */
	background: #eee;
	border-radius: 5px;
	padding: 3px 5px;
	margin: 0 1px;
}

pre code {
	font-size: 10pt;
	margin: 0;
	padding: 0;
}

header {
	padding: 50px 20%;
}

header a {
	text-decoration: none;
}

header h1 {
	font-family: Merriweather;
	font-size: 25px;
	color: rgba(0, 0, 0, 0.2);
	line-height: 60px;
}

header h1 .delta {
	font-size: 100px;
}

header .menu {
	display: inline-block;
	float: right;
	margin-top: 53px;
}

header .menu a {
	color: #444;
	text-decoration: none;
	font-weight: 100;
	padding: 5px 10px;
	padding-top: 53px;
	border-bottom: solid 0px rgba(255, 0, 0, 0.3);
	transition: 0.3s;
}

header .menu a:hover {
	color: red;
	border-bottom-width: 3px;
}

content {
	display: block;
	width: 60%;
	padding-left: 20%;
	padding-right: 20%;
}

content > * {
}

footer {
	padding-left: 20%;
	padding-right: 20%;
	margin-top: 100px;
	border-top: solid 1px #aaa;
	padding-bottom: 100px;
}

footer .copyright {
	margin-top: 20px;
	font-size: 13px;
}

/* Code highlight theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #8e908c;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #c82829;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5871f;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #eab700;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #718c00;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #4271ae;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #8959a8;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #eee;
  color: #4d4d4c;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}