<!DOCTYPE html>
<html>
<head>
	<title>{{#title}}{{title}} -- {{/title}}Graphics2D.js</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1" />
	<meta name="description" content="Graphics2D: JavaScript canvas library" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/stylesheet.css" />
</head>
<body>

	<!-- HEADER -->
	<div id="header_wrap" class="outer">
		<header class="inner">
			<div id="header_menu">
				<a href="">Home</a>
				<a href="sandbox/">Sandbox</a>
				<a href="examples/">Examples</a>
				<a href="docs/">Docs</a>
				<a href="download/">Download</a>
				<a href="plugins/">Plugins</a>
			</div>
			<h1 id="project_title">Graphics2D.js</h1>
			<span id="project_tagline">canvas framework</span>
		</header>
	</div>

	<!-- MAIN CONTENT -->
	<div id="main_content_wrap" class="outer">
		<section id="main_content" class="inner">
			{{content}}
		</section>
	</div>

	<!-- FOOTER	-->
	<div id="footer_wrap" class="outer">
		<footer class="inner">
			{{!-- english version --}}
			{{#nequals url0 'ru'}}
			<select style="float:right;margin-top:6px;" onchange="location.href = 'http://keyten.github.io/Graphics2D/ru/'">
				<option>English</option>
				<option onclick="location.href = 'http://keyten.github.io/Graphics2D/ru/'">Russian</option>
			</select>
			{{/nequals}}

			{{!-- russian version --}}
			{{#equals url0 'ru'}}
			<select style="float:right;margin-top:6px;" onchange="location.href = 'http://keyten.github.io/Graphics2D/'">
				<option onclick="location.href = 'http://keyten.github.io/Graphics2D/'">English</option>
				<option selected>Russian</option>
			</select>
			{{/equals}}
			<p class="copyright">Graphics2D maintained by <a href="https://github.com/keyten">Keyten</a> <a href="http://keyten.habrahabr.ru" target="_blank">[H]</a></p>
		</footer>
	</div>

</body>
</head>
</html>